.error-page-title {
    // width: 597px;
    font-family: "Montserrat", sans-serif;
    height: 263px;
    font-weight: 700;
    font-size: 288px;
    color: #FF6060;
}

.error-page-message {
    color: #FF6060;
    font-size: 36px;
}

.error-page-link {
    color: black;
    text-decoration: underline;
    font-size: 18px;
}