.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;

    @media screen and (max-width: 768px) {
      text-align: center;
    }

    &-title {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 288px;
      color: #FF6060;
      margin-bottom: 113px;
      font-size: clamp(96px, 25vw, 288px);
    }

    &-message {
      color: #FF6060;
      font-size: 36px;
      margin-bottom: 113px;
    }

    &-link {
      color: black;
      text-decoration: underline;
      font-size: 18px;
    }
}
