.carousel{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__button {
        color: white;
        background: none;
        border: none;
        font-size: 70px;
        cursor: pointer;
        width: 96px;
        height: 119px;
    }
    &__counter {
        color: white;
        align-self: flex-end;
        margin: 24px;
        font-size: 18px;
        @media screen and (max-width: 768px) {
          visibility: hidden;
        }
    }
}
