.carousel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    aspect-ratio: 1240/415;
    border-radius: 25px;

    &__button {
        color: white;
        background: none;
        border: none;
        font-size: 70px;
        cursor: pointer;
        width: 96px;
        height: 119px;
    }
    &__counter {
        font-size: 18px;
        color: white;
        align-self: end;
        padding-bottom: 25px;
    }
}
