.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
    .header-nav{
        display: flex;
        align-items: center;
        gap: 60px;
    }
    .nav-link {
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 20px;
    }
    .nav-link--active {
        text-decoration: underline;
    }
}